.profilebanner{
    background-color: rgba(239, 239, 239, 0.726);
    padding: 2%;
    border-radius: 20px;
}

.intobanner {
    padding: 5%;
    border-radius: 10px;
}

.intoparagraph {
    padding: 4%;
    color: rgb(98, 98, 98);
    font-size: x-large;
    text-align: center;
    border-radius: 10px;
}

.profilepic {
    align-items: center; 
    justify-content: center;
    border-radius: 15%;
}