.profilebanner{
    background-color: rgb(238, 238, 238);
    padding: 1%;
    border-radius: 15px;
}

.intobanner {
    border-radius: 10px;
}

.intoparagraph {
    padding-top: 5%;
    color: rgb(98, 98, 98);
    font-size: x-large;
    text-align: center;
}

.profilepic {
    align-items: center; 
    justify-content: center;
    border-radius: 20px;
    padding: 2%;
}

.iconpic {
    align-items: center;
    justify-content: center;
    padding-inline-end: 35%;
}

.socialicons {
    flex:auto;
    flex-direction:row;
    align-items: center;
    justify-items: center;
    border-radius: 20px;
}

.imagediv {
    padding: 2%;
    border-radius: 10px 10px 15px 15px;
}