.contacttitle {
    color: black;
    font-size: xx-large;
    font: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline;
    flex-direction: column;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 2%;
}