@tailwind base;
@tailwind componeents;
@tailwind utilities; 



bod {
  background: black;

  font-family: SF Pro Diplay, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  line-height: 1.1;
  letter-spacing: 0em;
}

