.gridrow{
    flex-direction: row;
}

.outergridcard {
    font: bold;
    background-color: black;
    border: 5px;
    text-align: center;
    align-items: center;
    justify-items: center;
}

.gridcard {
    padding: 5px;
    font-size: x-large;
    font: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    align-items: center;
    justify-items: center;
}

.cardcontent {
    flex-direction: row;
    flex: content;
}

.projecttitle {
    color: rgb(52, 52, 52);
    font-size: 2vw;
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    flex-direction: column;
    text-align: center;
    line-height: 1;
    padding-top: 10%;
    padding-bottom: 2%;
    text-decoration: underline;
}

.projectJobArc {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5%;
    color: rgb(128, 21, 229);
    text-shadow: 2px;
}

.projectYTPlayer {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5%;
    color: rgb(255, 0, 0);
    text-shadow: 2px;
}

.projectElevator {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5%;
    color: rgba(41, 41, 41, 0.772);
    text-shadow: 2px;
}

.projectSmileDetector {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5%;
    color: rgb(11, 58, 245);
    text-shadow: 2px;
}

.projectboxJobArc {
    border-radius: 20px;
    background-color: rgb(238, 238, 238);
    height: 430px;
    width: 630px;
}

.projectboxJobArcHover {
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 1);
    animation: wiggle 2s linear infinite;
    cursor: pointer;
    height: 430px;
    width: 630px;
}

/* Keyframes */
@keyframes wiggle {

    0%,
    7% {
        transform: rotateZ(0);
    }

    15% {
        transform: rotateZ(-5deg);
    }

    20% {
        transform: rotateZ(3.5deg);
    }

    25% {
        transform: rotateZ(-3.5deg);
    }

    30% {
        transform: rotateZ(2deg);
    }

    35% {
        transform: rotateZ(-1.3deg);
    }

    40%,
    100% {
        transform: rotateZ(0);
    }
}

.projectboxYTPlayer {
    border-radius: 20px;
    background-color: rgb(238, 238, 238);
    height: 430px;
    width: 630px;
}

.projectboxYTPlayerHover {
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 1);
    animation: wiggle 2s linear infinite;
    cursor: pointer;
    height: 430px;
    width: 630px;
}

.projectboxElevator {
    border-radius: 20px;
    background-color: rgb(238, 238, 238);
    height: 430px;
    width: 630px;
}

.projectboxElevatorHover {
    border-radius: 20px;
    background-color:rgba(255, 255, 255, 1);
    animation: wiggle 2s linear infinite;
    cursor: pointer;
    height: 430px;
    width: 630px;
}

.projectboxSmileDetector {
    border-radius: 20px;
    background-color: rgb(238, 238, 238);
    height: 430px;
    width: 630px;
}

.projectboxSmileDetectorHover {
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    animation: wiggle 2s linear infinite;
    cursor: pointer;
    height: 430px;
    width: 630px;
}

.projectpic {
    border-radius: 15px;
    padding-top: 4%;
}

.projectpicsmiledetector {
    border-radius: 15px;
    padding-top: 10%;
}



