.gridrow{
    border: 2px;
    border-color: black;
    height: 300px;
    padding: 2%;
    flex-direction: row;
}

.gridcard {
    padding: 2%;
    width: 50%;
    border-color: black;
    color: black;
    font-size: x-large;
    font: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.cardcontent {
    border: 2px;
    border-color: black;
    flex-direction: row;
    flex: content;
}

.projecttitle {
    color: black;
    font-size: xx-large;
    font: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline;
    flex-direction: column;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

.projectJobArc {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5%;
    color: rgb(156, 93, 214);
    text-shadow: 2px;
}

.projectYTPlayer {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5%;
    color: rgb(220, 40, 40);
    text-shadow: 2px;
}

.projectElevator {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5%;
    color: rgba(74, 74, 74, 0.772);
    text-shadow: 2px;
}

.projectSmileDetector {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5%;
    color: rgb(60, 137, 210);
    text-shadow: 2px;
}

.projectbox {
    border-radius: 20px;
    background-color: rgba(227, 227, 227, 0.902);
    padding: 3%;
}
.projectpic {
    border-radius: 15px;
}



