.date {
    color: white;
}

.bellcolor {
    color: blue;
}

.finastracolor {
    color: purple;
}

.carletoncolor {
    color: red;
}

.manulifecolor {
    color: green;
}

.descriptioncolor {
    color: grey;
}

.exptitle{
    color: rgb(52, 52, 52);
    font-size: 2vw;
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    flex-direction: column;
    text-align: center;
    line-height: 1;
    padding-top: 10%;
    padding-bottom: 2%;
    text-decoration: underline;
}

.edutitle {
    color: rgb(52, 52, 52);
    font-size: 2vw;
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    flex-direction: column;
    text-align: center;
    line-height: 1;
    padding-top: 10%;
    text-decoration: underline;
}

.education {
    align-items: center;
    text-align: center;
    align-content: center;
}

.edudescription {
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(97, 97, 97, 0.874);
    text-decoration: double;
    text-shadow: 10px;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

.edutext {
    padding: 2%;
    padding-bottom: 1%;
    color: black;
    text-shadow: 7px;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}
.edutexttwo {
    text-shadow: 7px;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

.awardtextone {
    color: black;
    list-style: square;
    display: list-item;
}

.awardtext {
    padding-top: 0.5%;
    color: black;
    list-style:square;
    display: list-item;
}

.awardslist {
    padding-top: 3.5%;
    text-align: left;
}

.padding{
    padding: 2%;

    align-items: center;
    align-content: center;
}

.logo {
    padding-left: 20%;
    align-items: center;
}




